@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 22px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

P {
    font-style: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* ==== HEADER START ==== */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Tudo alinhado na mesma linha*/

    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

/* Agora queremos colocar nossos links "a" em uma linha tbm (Estão em uma coluna)  */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /*Tudo alinhado na mesma linha (Só que junto)*/
}

/*Remoção dos marcadores links "a"*/

#navbar li {
    list-style: none;
    /* ^ remove os marcadores */
    padding: 0 20px;
    /*separo*/
    position: relative; /* Sem o relative nosso sublinhado não iria aparecer */
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    /*Estilizando palavras*/
    transition: 0.3s ease;
}

/*Efeito quando passar o mouse*/

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

    /* Sublinhado codigo */
}

/* ==== HOME PAGE ==== */

#hero {
    background-image: url(assets/img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
}

